.app{
	max-width: 700px;
	height: 320px;
	margin: 0 auto;
	margin-top: 50px;
	border: 5px solid #FFA500;
	padding: 30px;


	display: flex;
	
	background-color: #B3B3B3;
}

body{
	background-color: #8D8D8D;
}